<div class="drink-img-container" [ngClass]="isFirstDrink ? 'cocktail-section-title' : ''"  [attr.data-title]="category | categoryToDrinks">
    <img src="{{image}}" alt="{{name}}" class="{{borderColor}}">
</div>
<div>
    <div class="fw-bold text-white">
        {{name}}
    </div>
</div>
<div class="d-flex">
    <div class="text-white link-text">
        Show details
    </div>
    <div class="ms-2">
        <img src="assets/images/cocktails/go-icon.png" alt="go-icon" width="10" height="10">
    </div>
</div>
