<div class="row" style="margin-top: 50px">
  <div
    class="col-12 col-lg-4 d-flex flex-column justify-content-center align-items-center"
  >
    <div class="mb-1">
      <div class="h2">{{ name }}</div>
    </div>
    <div class="drink-img-container">
      <img src="{{ urlImg }}" alt="{{ name }}" class="border-color-green" />
    </div>
  </div>
  <div class="col-12 col-lg-8 row">
    <div
      class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center"
      *ngFor="let ingredient of ingredients; let i = index"
    >
      <app-ingredient
        [bgColor]="this.ingredientsService.getBgColor(i)"
        [isThirdIngredient]="i === 2"
        [name]="ingredient.name"
        [includeLinkToRecipes]="false"
        [imgFileName]="imagesFileName[i]"
        [textNameClass]="'text-dark'"
        [includeMessure]="true"
        [measure]="ingredient.measure"
        class="d-flex flex-column justify-content-center align-items-center mb-5"
      ></app-ingredient>
    </div>
  </div>
</div>
