<div class="row">
    <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center" style="margin-top: 50px">
        <div class="mb-1">
            <div class="h2">{{name}}</div>
        </div>
        <div class="drink-img-container">
            <img src="{{urlImg}}" alt="{{name}}" class="border-color-green" >
        </div>
    </div>
    <div class="col-12 col-lg-9 row">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>