<section class="row container-fluid" style="margin-top: 75px;" [ngClass]="{'d-none': shouldHideSection}">
    <div class="col-lg-4 col-12 d-flex d-flex flex-column">
        <div>
            <div class="h1">Drink of the moment</div>
        </div>
        <div class="mt-4">
            <p class="gin-description">
                Gin, also known as gin, is one of the most popular and appreciated alcoholic beverages worldwide, especially for its versatility in cocktails. Originally from Europe, this spirit has evolved over the centuries and comes in a wide range of styles and flavors.
            </p>
        </div>
        <div class="mt-4">
            <div class="h2">
                4.9
            </div>
        </div>
        <div class="mt-4 w-50">
            <div class="btn-try-now bg-green-soft rounded-pill d-flex justify-content-between align-items-center" src="#" style="height: 50px;">
                <div class="h6 ms-4"><span>Try now</span></div>
                <div class="me-2">
                    <a href="#" class="bg-green-dark rounded-circle btn">
                        <img src="assets/images/gintonic/go-arrow.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12 d-flex justify-content-center align-items-center mt-5 mt-lg-0">
        <div class="gin-circle gin-tonic-bg-images bg-green-soft h-75"></div>
    </div>
    <div class="col-lg-4 col-12 d-flex flex-column mt-5 mt-lg-0">
        <div class="mb-4 d-flex">
            <div class="p-3">
                <div class="gin-circle-description bg-green-soft gin-verstility-img"></div>
            </div>
            <div class="d-flex p-2">
                <div>
                    <div class="h3">Versatile</div>
                    <div>
                        <p class="gin-description">
                            The range of flavors in gin is
                            exceptionally wide, thanks to the
                            variety of botanicals that can be
                            used in its production.
                        </p>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        <div class="mb-4 d-flex">
            <div class="p-3">
                <div class="gin-circle-description bg-green-soft gin-distiontiv-flavor-img"></div>
            </div>
            <div class="d-flex p-2">
                <div>
                    <div class="h3">Distiontiv Flavor</div>
                    <div>
                        <p class="gin-description">
                            The range of flavors in gin is
                            exceptionally wide, thanks to the
                            variety of botanicals that can be
                            used in its production.
                        </p>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        <div class="mb-4 d-flex">
            <div class="p-3">
                <div class="gin-circle-description bg-green-soft gin-purity-img"></div>
            </div>
            <div class="d-flex p-2">
                <div>
                    <div class="h3">Purity</div>
                    <div>
                        <p class="gin-description">
                            This gives it a clean, pure feel,
                            without the caramel or vanilla notes
                            that come from barrel aging.
                        </p>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        
    </div>
</section>
